<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card> 
  <ion-card-header>
    <ion-card-subtitle> 19 de janeiro de 2008 </ion-card-subtitle>
    <ion-card-title>A Garota do Blog </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/2lDiCu0SLo0XfCL9DRQN7JRPNAv.jpg"/>
    <p> Um grupo de alunos de uma escola rica de Manhattan parece se safar de tudo, 
      menos de uma blogueira anônima que acompanha cada passo que dão. </p>

      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
  </ion-card-content>
  </ion-card>

  <ion-card> 
    <ion-card-header>
      <ion-card-subtitle> 29 de agosto de 2005 </ion-card-subtitle>
      <ion-card-title>Prison Break: Em Busca da Verdade </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/5E1BhkCgjLBlqx557Z5yzcN0i88.jpg"/>
      <p> Michael Scofield é um homem desesperado numa situação desesperadora. Seu irmão, Lincoln Burrows, está no corredor 
        da morte e será executado em alguns meses, após ser condenado por um assassinato que Michael está convencido que Lincoln 
        não cometeu. Sem outras opções e com o tempo diminuindo, Michael assalta um banco para que ele seja preso e levado para a 
        penitenciária estadual Fox River, o mesmo local onde seu irmão está cumprindo pena. Uma vez lá dentro, Michael um engenheiro 
        civil com as plantas da prisão começa a executar um elaborado plano para libertar Lincoln e provar a inocência dele. </p>
  
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </ion-card-content>
    </ion-card>

 
</ion-content>
