<ion-header [translucent]="true">
  <ion-toolbar color = "danger">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1> Coringa</h1>
        <h2>2 de outubro de 2019</h2>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xLxgVxFWvb9hhUyCDDXxRPPnFck.jpg" />
        <p> Arthur Fleck (Joaquin Phoenix) trabalha como palhaço para uma agência de talentos e, toda semana,  
          precisa comparecer a uma agente social, devido aos seus conhecidos problemas mentais. Após ser demitido, Fleck reage mal
           à gozação de três homens em pleno metrô e os mata. Os assassinatos iniciam um movimento popular contra a elite de Gotham City, 
           da qual Thomas Wayne (Brett Cullen) é seu maior representante.</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1> Mac & Devin Vão Para a Escola</h1>
        <h2>3 de julho de 2012</h2>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/aIiMqxrxazcnHli3xs0bLHc2K9Q.jpg" />
        <p> Uma comédia sobre dois estudantes do ensino médio - um lutando para escrever seu discurso de orador oficial, o outro indo 
          agora em seu 15 º ano de escola.</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      
      <ion-col size="6">
        <h1> De Volta para o Futuro 2 </h1>
        <h2>20 de novembro de 1989</h2>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/dAAnK6EUBDUpM9H5EBfYV3GmtC1.jpg" />
        <p> O cientista Doc Brown (Christopher Lloyd) leva Marty (Michael J. Fox) e sua namorada (Elisabeth 
          Shue) para o ano 2015, com a finalidade de resolver uma questão familiar no futuro deles. Mas Biff
          (Thomas F. Wilson), velho inimigo da família, obriga-os a correrem contra o tempo (literalmente
          falando) para não alterarem os acontecimentos.
        </p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      <ion-col size="6">
        <h1> Kill Bill: Volume 1</h1>
        <h2>29 de setembro de 2003</h2>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/oj0ibkqKGJ3CvSTb3Pkx299P0SK.jpg" />
        <p> A Noiva (Uma Thurman) é uma perigosa assassina que trabalhava em um grupo, liderado por Bill (David Carradine), composto 
          principalmente por mulheres. Grávida, ela decide escapar dessa vida de violência e decide se casar, mas no dia da cerimônia 
          seus companheiros de trabalho se voltam contra ela, quase a matando. Após cinco anos em coma, ela desperta sem um bebê e com 
          um único desejo: vingança. A Noiva decide procurar, e matar, as cinco pessoas que destruiram o seu futuro, começando pelas perigosas 
          assassinas Vernita Green (Vivica A. Fox) e O-Ren Ishii (Lucy Liu).</p>
          <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid> 
    
</ion-content>
  

